node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example
!.env.dev
!.env.localdev
!.env.stage
!.env.stage2
!.env.production

# Testing
coverage
.nyc_output
playwright-report
test-results
*.lcov